* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.outer-col-1 {
  background-color: red;
  flex: 1;
}

.outer-col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.inner-row {
  display: flex;
  flex-direction: row;
}

.inner-col {
  flex: 3;
}

.inner-row article {
  min-height: 20vh;
}

.inner-row {
  background: white;
  flex: 1;
}

header {
  background: lightgreen;
  height: 20vh;
}

footer {
  background: yellow;
  height: 60vh;
}

aside {
  background: blue;
  flex-direction: column;
  flex: 1.5;
}

header,
footer,
article,
nav,
aside {
  padding: 2em;
}
